<div class="index">
    <div class="container-fluid">
        <div class="row">
         <div class="text-center">
             <div class="title">Compliment people around you.</div>
             
        </div>
        </div>
    </div>
</div>
<style>
/*.navbar {
 visibility: hidden;
}*/
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://placehold.it/1140x500/777/555" alt="First slide" />
    </div>
    <div class="item">
      <img src="http://placehold.it/1140x500/666/444" alt="Second slide" />
    </div>
    <div class="item">
      <img src="http://placehold.it/1140x500/555/333" alt="Third slide" />
    </div>
  </div>

</div>