<div>
</div>
<div id="homepg_jumbotron" class="jumbotron text-center">
 <div class="container">
 <div class="row">
   <h1>high five</h1>
   <div class="lead"><b>San Francisco</b>districts</div>
 </div>
 </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h3 class='text-center'>Food</h3>
            <div class="lead">Place to Eat</div>
        </div>
        <div class="col-sm-4">
            <h3 class='text-center'>Meet</h3>
            <div class="lead">where cool people gather</div>
        </div>
        <div class="col-sm-4">
            <h3 class='text-center'>Hike</h3>
            <div class="lead">The Great out door</div>
        </div>
    </div>
</div>
<style>
/*.navbar {
 visibility: hidden;
}*/
</style>