<div class="container-fluid">
 <div class="row">
  <div class="text-center">
   <div id="high">HIGH</h1><div id="five">FIVE</div>

  </div>
</div>
</div>
<style>
/*.navbar {
 visibility: hidden;
}*/
</style>