h1 {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
}

body {
	font-family: 'Asap', sans-serif;
}

.title {
	font-size: 60px;

}

.subtitle {
	font-size: 36px;
}

.circular {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.usericon {
	margin: 0 auto;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.profile-header-user {
	margin-top: 0px;
	font-weight: 300;
}

.inbox {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #999;
	font-size: 24px;
}

/*.backgroundblur {
  width: 100%;
  background: url(http://i.imgur.com/n2knzzo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.container-fluid {
	margin-left: 0px;
	margin-right: 0;
	padding: 0;
}

.inboxopacity {
	background-color: rgba(255,255,255,0.8);
}