h1 {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
}

body {
	font-family: 'Asap', sans-serif;
}

.title {
	font-size: 60px;

}

.subtitle {
	font-size: 36px;
}

.circular {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left: 5%;
}

