h1 {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Asap', sans-serif;
	background-color: #fff;
}

span {
	color: #fff;
}

h3 {
	color:#fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	padding-left: 10px;
	max-width: 420px;
}
li {
	color: #000;
	display: inline-block;
	padding: 0px;
	margin: 0;
}

/* ======= NAVIGATION ======= */

#login-dp{
   z-index: 2;
   margin-top: -2px;
   min-width: 260px;
   height: auto;
   padding: 12px 30px 15px;
   background-color:rgba(0,0,0,.7);
   font-family: 'Open Sans', sans-serif;
}

.form-control {
 margin-right: 0;
 width: 100%;
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom: 1px solid lightgrey;
 box-shadow: none !important;
 border-radius: 2px;
 margin-top: -1px;
 background-color: transparent;

}

/* ====== BUTTON LINKS ========
==============================*/

b {
	text-decoration: none;
}

b:active {
	color: #28BCED;
}

input {
 background-color: transparent;
}

.btn, .btn-primary, .btn-block {
 margin-top: 15px;
 background-color: #61A786; 
 border: none; 
}

a.dropdown-toggle {
 border-bottom: none;
 color: #fff;
}

.navbar {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}

.btn {
	margin-top: 20px;
	background-color: #DB0065;
}

i.fa.fa-icon {
	color: #fff;
}

#nav {
	background-color: #000;
	min-width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	border-radius: 0px;
	border: none;
}

a.whitenav {
	color: #fff;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

.list-group {
	color: #000;
	padding: 0px;
		
}

body.black {
	background-color: #000;
}

i.material-icons {

}

.blackbox {
	margin-top: 10%;
	margin-bottom: 3%;
	background-color: #000;
	clear: left;
}

.overview {
	margin-top: 10%;
}


a.logo.navbar-brand {
	color: #fff;
}

#compliment_comment {
	border-bottom: 1px solid #fff;
	color: #fff;
}

.howto {
	margin-bottom: 8%;
}

.dropdown-toggle {
	padding: 30px !important;
}


hr {
	min-width: 100%;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: #999;
}

 span {
 	color: #999;
 }

.subtitle {
	font-size: 36px;
}

.circular {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.miniavatar {
	margin: 10px -10px auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

span.mdl-layout-title {
	color: #fff;
}
.usericon {
	margin: 0 auto;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.joinedat {
	padding-left: 10px;
	color: #000;
}

.profile-header-user {
	margin-top: 0px;
	font-weight: 300;
}

.inbox {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #999;
	font-size: 24px;
}

 
input.useravatar {
	background-color: #000;
}

/*#carousel-example-generic {
	z-index: -2;
}
*/
.container-fluid {
	margin-left: 0px;
	margin-right: 0;
	padding: 0;
}
/*
.label {
	margin-top: 20%;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}*/

.logo {
	color: #fff;
}

.navbar {
	  color: #fff;
}

.navbar-fixed {
  clear: both;
}

a.logo navbar-brand {
	color:#fff;
}
.navbar-brand {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}


/* ======= END NAVIGATION ======= */


/* ====== FORM AND BUTTON STYLES ===== */

.btn {
	background-color: #22A3B1;
	color: #fff;
	border-radius: 2px;

}

.file-field {
	color: #fff;
}

.btn:hover {
	background-color: #22A3B1;
	color: #fff;
	border: none;
}
.btn:active {
	background-color: #22A3B1;
	color: #fff;
	border: none;
	
}
.form-control {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
  box-shadow: none !important;
  margin-top: 1px;
  border-radius: 0px;
  background-color: rgba(255,255,255,.3)
}

.form-control:active {

}
.form-control:focus {
	background-color: transparent;
}
.colorform {
  border-radius: 5px;
  padding-top: 3%;
  height: auto;
  color:  #fff;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 15%;
  background-size: cover;
}

i.fa.fa-map-o {
	color: #fff;
}

i.fa.fa-map-o:hover {
	color: #a8e9f3;
}

i.fa.fa-map-o:active {
	color: #a8e9f3;
}

li.media.list-group-item.p-a {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

input#user_first_name.form-control,
input#user_last_name.form-control,
input#user_email.form-control,
input#user_password.form-control {
	background-color: transparent;
	color: #A8A8A8;
}

p.steps {
	font-size: 21px;
}
input {
	background-color: transparent;
}

/* MAP NAV BG PAGE ON LOCATIONS VIEW */

.mdl-layout__drawer {
	background-color: #000;
}



.colorform {
  border-radius: 3px;
  padding-top: 3%;
  height: 350px;
  color: #fff;
  background-color: #000;
  box-shadow: 5px 10px #000;
  box-shadow: none;
  /*margin-top: 5%;*/
}

.compliment {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

/* ===== MEDIA QUERIES ==== */


 @media (max-width: 768px) { 


 	.title {
		display: none !important;
	}

	#login-dp {
		width: 100%;
	}

	b {
		padding-left: 20px;
	}

	h3 {
		font-size: 18px;
		max-width: 300px;	
	}

	.miniavatar {
		display: none;
	}

	p.steps {
		font-size: 18px;
	}
}