MAP PGAGE

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<% @user.each do |p| %>
<li><a href="/users/<%=p.id%>"><%= p.first_name %> </a></li>
<% end %>	