<%= render partial: 'partials/verticalnavbar' %>


    <div id="out" class="col-xs-10 col-xs-offset-1 row text-center"></div>


<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places"></script>

<script type="text/javascript">

function initialize() {
     var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 14,
      center: new google.maps.LatLng(37.790841, -122.42),
      styles: [{"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}]
    });

     if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
             initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
             map.setCenter(initialLocation);
             map.setZoom(16);



    var marker = new google.maps.Marker({
    	icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000',
        position: initialLocation,
    	animation: google.maps.Animation.DROP,
        map: map
    });
      var infowindow = new google.maps.InfoWindow({
    content: "You are here"
  });
      marker.addListener('click', function() {
    infowindow.open(map, marker);
  });     

      google.maps.event.addListener(marker, 'click', function() {
      $('#showEvents').empty();
      
      gon.quickEvents.forEach(function(e){
        if (e.location_id == location.id) {
          $('#showEvents').slideDown( "slow", function() {
          // Animation complete.

          // When marker clicked, append event content to bottom of page and add class to div for location id
          $('#showEvents').append('<p>' + gon.locations[e.location_id].name + '</p>' + '<p>' + e.content + '</p>').addClass('' + e.location_id + '');

        });
        } 
      });
    });
    });
}
addModalListeners();
 }

 // Go to location page when event is clicked on
 $('#showEvents').on('click', function() {
    window.location.href = '/users/' + $(this).attr('class');
 });

google.maps.event.addDomListener(window, 'load', initialize);

// $(document).ready(function(){
  function addModalListeners() {
  console.log("on")
  $('.mdl-layout__container').on('click', '.mdl-navigation__link', function(e) {
       e.preventDefault();
       console.log("foobar");
       // show/hide and do other modal things here
       $('.modal').show()
       $('.modal').on('click', '.cancel', function(e) {
         e.preventDefault();
         $('.modal').hide();
       })
     })
}
// })
</script>